
.curriculo-bg {
    background: var(--cor-10);
}

 /* intro */
.curriculo-intro h1, h2, p {
    margin-left: 150px;
    margin-right: 150px;
}

.curriculo-intro h1{
    font-size: 3rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;    
    padding-top:120px;
    padding-bottom: 60px;
}

.curriculo-intro h2{ 
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;   
    padding-bottom: 30px;
}

.curriculo-intro p{ 
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;   
    padding-bottom: 60px;   
}

.curriculo-bg{
    max-width: 80ch;
}

/* qualificações */

.curriculo-qualificacoes h2, .curriculo-qualificacoes h3, .curriculo-qualificacoes ul  {
    margin-left: 150px;
    margin-right: 150px;
}



.curriculo-qualificacoes ul{    
    padding-bottom: 45px;      
}

.curriculo-qualificacoes h2{
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;     
    padding-bottom: 30px;
          
}


.curriculo-qualificacoes h3{
    font-size: 1.1rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;      
    padding-bottom: 30px;
    
         
}

.curriculo-qualificacoes li{  
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;    
    padding-bottom: 10px;
          
}

/* formacao */

.curriculo-formacao h2, .curriculo-formacao ul {
    margin-left: 150px;
    margin-right: 150px;
}

.curriculo-formacao ul{    
    padding-bottom: 45px;      
}

.curriculo-formacao h2{ 
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;   
    padding-bottom: 30px;      
}

.curriculo-formacao li{
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;    
    padding-bottom: 10px;      
}

/* experiencia */

.curriculo-experiencia h2, .curriculo-experiencia h3, .curriculo-experiencia h4, .curriculo-experiencia ul {
    margin-left: 150px;
    margin-right: 150px;
}

.curriculo-experiencia h3{
    font-size: 1.5rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 600;    
    padding-bottom: 30px;
         
}

.curriculo-experiencia h4{ 
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;    
    padding-bottom: 30px;
         
}

.curriculo-experiencia ul{
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;     
    padding-bottom: 45px;
         
}

.curriculo-experiencia h2{
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;    
    padding-bottom: 30px;          
}

.curriculo-experiencia li{    
    padding-bottom: 10px;      
}

/* adicional */

.curriculo-adicional ul, .curriculo-adicional h2 {
    margin-left: 150px;
    margin-right: 150px;
}

.curriculo-adicional ul{
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;    
    padding-bottom: 60px;      
}

.curriculo-adicional li{    
    padding-bottom: 10px;            
}


.curriculo-adicional h2{
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;     
    padding-bottom: 30px;      
}

/* intro */

@media (min-width: 1800px) {
    .curriculo-bg{
        max-width: 150ch;
    }    
    
    .curriculo-intro h1, h2, p {
        margin-left: 300px;
        margin-right: 300px;
    }

    .curriculo-adicional ul, .curriculo-adicional h2 {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media (max-width: 1300px) {
    .curriculo-intro h1, h2, p {
        margin-left: 60px;
        margin-right: 60px;
    }
    .curriculo-bg{
        max-width: 90ch;
    }
}

@media (max-width: 800px) {
    .curriculo-intro h1{
        font-size: 2rem;       
    }
    
    .curriculo-intro h2{ 
        font-size: 1.5rem;       
    }
    
    .curriculo-intro p{ 
        font-size: 1rem;       
    }
    .curriculo-bg{
        max-width: 80ch;
    }

}

@media (max-width: 450px) {
    .curriculo-intro h1, h2, p {
        margin-left: 30px;
        margin-right: 30px;
    }
    .curriculo-intro h1{
        font-size: 1.5rem;
        padding-top: 30px; 
        padding-bottom: 30px;      
    }
    
    .curriculo-intro h2{ 
        font-size: 1.1rem;        
    }
    
    .curriculo-intro p{ 
        font-size: 0.8rem;        
    }
    .curriculo-bg{
        max-width: 60ch;
    }    
}

/* qualificações */

@media (min-width: 1800px) {
    
    .curriculo-qualificacoes h2, .curriculo-qualificacoes h3, .curriculo-qualificacoes ul  {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media (max-width: 1300px) {
    .curriculo-qualificacoes h2, .curriculo-qualificacoes h3, .curriculo-qualificacoes ul {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 800px) {
    .curriculo-qualificacoes h2{
        font-size: 1.5rem;             
    } 
    
    .curriculo-qualificacoes h3{
        font-size: 0.8rem;
    }

    .curriculo-qualificacoes li{  
        font-size: 0.8rem;
    }
}

@media (max-width: 450px) {
    .curriculo-qualificacoes h2, .curriculo-qualificacoes h3, .curriculo-qualificacoes ul  {
        margin-left: 30px;
        margin-right: 30px;
    }    
}

/* formacao */

@media (min-width: 1800px) {
    
    .curriculo-formacao h2, .curriculo-formacao ul  {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media (max-width: 1300px) {
    .curriculo-formacao h2, .curriculo-formacao ul {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 800px) {
    .curriculo-formacao h2{ 
        font-size: 1.5rem;            
    }
    
    .curriculo-formacao li{
        font-size: 0.8rem;            
    }
}

@media (max-width: 450px) {
    .curriculo-formacao h2, .curriculo-formacao ul {
        margin-left: 30px;
        margin-right: 30px;
    }    
}

/* experiencia */

@media (min-width: 1800px) {
    
    .curriculo-experiencia h2, .curriculo-experiencia h3, .curriculo-experiencia h4, .curriculo-experiencia ul  {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media (max-width: 1300px) {
    .curriculo-experiencia h2, .curriculo-experiencia h3, .curriculo-experiencia h4, .curriculo-experiencia ul {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 800px) {
    .curriculo-experiencia h3{
        font-size: 1.1rem;             
    }
    
    .curriculo-experiencia h4{ 
        font-size: 0.8rem;
              
    }
    
    .curriculo-experiencia ul{
        font-size: 0.8rem;
             
    }
    
    .curriculo-experiencia h2{
        font-size: 1.5rem;
             
    }
}

@media (max-width: 450px) {
    .curriculo-experiencia h2, .curriculo-experiencia h3, .curriculo-experiencia h4, .curriculo-experiencia ul {
        margin-left: 30px;
        margin-right: 30px;
    }    
}

/* adicional */

@media (min-width: 1800px) {
    
    /* .curriculo-adicional ul, .curriculo-adicional h2 {
        margin-left: 300px;
        margin-right: 300px;
    } */
}

@media (max-width: 1300px) {
    .curriculo-adicional ul, .curriculo-adicional h2 {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width:800px){
    .curriculo-adicional ul{
        font-size: 0.8rem;             
    }  
    
    .curriculo-adicional h2{
        font-size: 1.5rem;            
    }
}

@media (max-width: 450px) {
    .curriculo-adicional ul, .curriculo-adicional h2 {
        margin-left: 30px;
        margin-right: 30px;
    }
}