

.tech-bg {
    background-color: var(--cor-10);
    
}

/* divisoria */

.divisoria-pg {
    background-color: var(--cor-9);
    margin-left: 0px;
    margin-right: 150px;
    height: 2px;
    width: auto;
}


.tech-titulo {
    margin-left: 150px;
    margin-right: 120px;
    padding-top: 60px;    
    padding-bottom: 30px;
}

.tech-titulo h1 {
    font-size: 3rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #f8f0a7;
}

.tech-titulo p {
    max-width: 90ch;
 }



tech-texto p {
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;   
    padding-bottom: 30px;    
    
}

.tech-programas ul{
    display: flex;
    flex-direction:row;
    justify-content: left;
    flex-wrap: wrap;             
}

.tech-programas {
    padding-bottom: 30px;
    

}

.tech-programas li{
    padding: 40px;
    
            
}



.tech-programas a {
    color: #f8f0a7;
    display: flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;   
}



.tech-programas ul {
    padding-bottom: 30px;
    align-content: center;   
    font-size: 1.1rem;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
}

.tech-programas img{
    padding-bottom: 15px;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%; 
        
}

.tech-programas img:hover {
    transition: all 0.5s;
    transform: scale(1.1);    
}

.tech-programas a:hover {
    transition: all 0.5s;
    transform: scale(1.1);    
}

/* projetos */

.projetos-titulo {    
    padding-bottom: 30px;    
}

.projetos-titulo h1 {    
    font-size: 2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
    color: #f8f0a7;
}

.projetos-lista {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;    
}

.projetos-lista ul {
    margin-left: 150px;
    padding-top: 30px; 
}

.projetos-lista li {
    padding-right: 40px;
    padding-bottom: 60px;
}

.projetos-lista a {    
    display: flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    color: #f8f0a7;
}

.projetos-lista img{
    padding-bottom: 15px;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%;    
}

.projetos-lista img:hover {
    transition: all 0.5s;
    transform: scale(1.1);    
}

.projetos-lista a:hover {
    transition: all 0.5s;
    transform: scale(1.1);    
}



@media (min-width: 1800px) {
    .tech-titulo {
        margin-left: 300px;
        margin-right: 260px;
    }

    .projetos-lista ul {
        margin-left: 300px;        
    }  
    .divisoria-pg {    
        margin-right: 150px;
        margin-left: -50px;
    }
    
    .tech-titulo p {
        max-width: 100ch;
     }
    
    



}


@media (max-width: 1300px) {
    .tech-titulo {
        margin-left: 60px;
        margin-right: 60px;
    }

    .tech-titulo h1 {
        font-size: 2rem;        
    }

    .projetos-lista ul {
        margin-left: 60px;        
    }

    .projetos-titulo h1 {    
        font-size: 2rem;        
    }

    .divisoria-pg {    
        margin-right: 60px;
        margin-left: 60px;
    }

}

@media (max-width: 800px) {
    .tech-programas {        
        margin-left: 0px;           
    }
}

@media (max-width: 450px) {
    .tech-titulo {
        padding-top: 30px;  
        margin-left: 30px;
        margin-right: 30px;
    }

    .tech-titulo h1 {
        font-size: 1.5rem;        
    }
   
    .tech-programas ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 40px;
        margin-right: 150px;
        margin-left: 0px;           
    }

    .projetos-lista {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 40px; 
    }

    .divisoria-pg {    
        margin-right: 60px;
        margin-left: 30px;
    }
    

    .tech-programas a {        
        text-align: center;
        padding-bottom: 10px;
    }

    .projetos-lista li {        
        padding-bottom: 30px; 
    }

    .projetos-links ul {        
        padding-bottom: 0px; 
    }

    
    .tech-programas a {
        font-size: 0.8rem;
    } 

    .projetos-titulo h1 {    
        font-size: 1.1rem;
               
    }

    .tech-bg h1 {        
        padding-bottom: 30px;
        padding-top: 0px;        
    }

    .tech-bg ul {        
        padding-bottom: 0px;              
    }

    .projetos-links h1{
        padding-top: 30px;
    }

    .projetos-lista li {
        margin-right: 100px;        
    }    
}